@charset "UTF-8";

.cart-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 40px;
	width: 60%
}

.cart-title h2{
	display: inline-block;
	height: 100%;
	margin-left: 10px;
	font-size: 1.8em;
	font-weight:bolder;
	position: relative;
	
}

#cart_products h3{
	margin: 5px 0px 21px 27px;
	font-size: 1.15em;
}

.cart-cnt{
	position: absolute;
	top: -1px;
	left: 109px;
	background: var(--green-sub);
	font-size: 15px;
	padding: 5px;
	border-radius: 45%;
	color: #fff;
}

.cart_btns{
	margin: 10px 0;
	display: flex;
	justify-content: flex-end;
}

.cart_btns button{
	width: 150px;
	font-size: 0.9em;
	margin-right: 15px;
}

#cart_products{
	width:64%;
	height: 100%
}

#cart_products input[type="number"]{
	width:30px;
	padding-left: 17px;
}

#minus{
	margin-right:0;
}

.cart-main{
	display: flex;
	flex-wrap: wrap;
}
#price, .order__price{
	color: gray;
	text-decoration: line-through;	
}

#saleprice{
	font-weight: bold;
	color: var(--green-text);
}

#orderList{
	width:33%;
	padding-left: 30px;
	font-weight: bolder;
}
#orderList > div{
	margin: 20px 0;
}

#orderList h5{
	width:100%;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
}

#receiver{
	background: #F3F3F3;
	height: 391px;
	border-radius: 15px;
}

#receiverInfo input{
	display: block;
	margin: 20px auto;
	width: 80%;
}

.receiver-radio{
	margin: 20px auto;
	text-align: center;
}

#orderInfo{
	background: #F3F3F3;
	border-radius: 15px;
	height: 280px;
}

#orderInfo p{
	font-weight: bold;
	font-size: 1.0em;
	margin: 10px;
	padding-left: 20px;
}

#orderInfo span{
	margin: 5px 0;
	padding-right: 20px;
	display: block;	
	text-align:  right;
}
.orderInfo-price{
	margin-top: 20px;
}
#tot_saleprice{
	color:var(--green-main);
	font-weight: bolder;
	font-size: 1.2em;
}

#order, #pay{
	font-weight: bold;
	font-size: 1.0em;
	width: 100%;
	height: 30px;
	background: var(--green-sub);
	color: #fff;
}
#order:hover, #pay:hover{
	background: var(--green-main);
}
