@charset "EUC-KR";

.cer_content{
	width:100%;
	height:50px;
	
}

.cer_content_text {
	font-size:15px;
width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}