@charset "EUC-KR";

.comment_form{
	height:120px;
	border: 1px solid #dddddd;
	padding: 10px;
	border-radius: 10px;
	margin : 10px;
}

.comments_nickname{
	font-weight: bold;
	padding: 10px;
	font-size: 20px;
}

#comment_list{
	margin : 50px;
}

.comments_content{
	padding: 15px;
	font-weight: bold;
}

.comment_regdate{
	padding: 10px;
	display: inline;
	font-weight: normal;
	font-size: 15px;
}

.comment_btn{
	float:right;
}

#comment_box{
	width: 100%;
	position: relative;
	margin: 20px 0;
}

#comment_box{
	display: flex;
	justify-content: space-between;
}

#comment_box textarea{
	margin-left:20px;
	width:75%;
	height:100px;
	padding: 10px 10px;
	box-sizing: border-box;

} 

#comment_box #insertComments{
	height:100px;
	width:20%;
	
}

#comment_list td{
	padding: 10px;
}
 