@charset "EUC-KR";

#content_box{
margin-left:20px;
display: flex;
flex:1 1;
}

#calendar{
width:400px;
padding: 10px;
z-index:-1;
}

#chglist{
width:600px;
margin-top: 10px;
padding:0 15px 0 15px;}

.search{
	display: inline-block;
	padding-left: 10px;
}

.search__btns {
	display: block;
	
}

.search__btns button{
	width: 85px;
	height: 26px;
}


/* 챌린지목록 */
#modal-open,#insertCerBtn,#goCerBtn{
	margin: 0px;	 
	padding: 0px;
	border-style: solid;
	width: 100%;
	height: 50px;
	font-size: 20px;
	border-radius: 20px;
  	color: green;
	background: #DCEDC8;
	border: 0.5px solid green;
}
#modal-open:hover {
  color: #2ecc71;
}
#insertCerBtn:hover {
  color: #2ecc71;
}

#goCerBtn:hover {
  color: #2ecc71;
}

#startBtn,#ResetBtn{
	margin: 10px;	
	padding: 0px;
	border-style: solid;
	width: 100px;
	 border-radius: 20px;
  	color: green;
	border: 0.5px solid green;
	 background: #DCEDC8;
	 
}
#endBtn{
	margin: 10px;	
	padding: 0px;
	border-style: solid;
	width: 150px;
	 border-radius: 20px;
  	color: #2ecc71;
	border: 0.5px solid 2ecc71;
	 background: #f1f3f5;	 
	  
}
#finishBtn{
	margin: 10px;	
	padding: 0px;
	border-style: solid;
	width: 150px;
	 border-radius: 20px;
  	color: green;
	border: 0.5px solid green;
	 background: #f1f3f5;	
}

#finishBtn:hover {
  color: #2ecc71;
}

#listTable{
	padding-top:8px;
	padding-bottom: 20px;
}

#tree_num{
	text-align: center;
	font-weight: 700;
	font-size:18px;
	padding: 5px 0;
}