@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang:wght@400;700&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/datepicker.css";
@import "components/nav-bar.css";
@import "components/side-bar.css";
@import "components/product-table.css";

/* Screens */
@import "screens/myOrder.css";
@import "screens/myWishList.css";
@import "screens/cart.css";
@import "screens/order_form.css";
@import "screens/resultOrder.css";
@import "screens/wishList.css";
@import "screens/detailOrderList.css";
html,body {
	padding: 0 ;
    margin: 0;
}

html{
	height:100%;
}

body{
	 min-height: 100%;
	font-family: 'Gowun Batang', serif;
}

#root{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	padding-bottom: 100px;
}

input, label{
	font-family: 'Gowun Batang', serif;
	text-align: center;
	cursor: pointer;
}

*{
	font-family: 'Gowun Batang', serif;
}

button, input[type=button], .btns_select li{
	font-weight: 800;
	background: #fff;
	border: 1px solid var(--green-main);
	border-radius: 20px;
	color:var(--green-main);
	margin-right: 10px;
	cursor: pointer;
}

button:hover, input[type=button]:hover, .btns_select li:hover{
	background:var(--green-sub);
	color:#fff;
}

table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
  vertical-align: middle;
}
th:first-child, td:first-child {
  border-left: none;
}