<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="address">
  <select id="getMainAddress" resultType="addressVO">
		SELECT
		addr_receiver, addr_postal,
		addr_road, addr_detail, addr_phone, addr_msg
		FROM
		address
		WHERE
		member_no = #{member_no}
		AND addr_main = 1
  </select>
  
  <select id="findAll" resultType="addressVO">
  		SELECT
		*
		FROM
		address
  </select>
  
  <select id="findAllDetail" resultType="addressVO">
  		SELECT
		*
		FROM
		address a
		where a.no=#{no}
  </select>
  
  
  <select id="allMainAddress" resultType="addressVO">
  		SELECT
		*
		FROM
		address
		WHERE
		member_no = #{member_no}
		AND addr_main = 1
  </select>
   
  <select id="allSubAddress" resultType="addressVO">
  		SELECT
		*
		FROM
		address
		WHERE
		member_no = #{member_no}
		AND addr_main = 0
  </select>
  
  <insert id="insert" parameterType="addressVO">
  	insert into address(
  	no,
  	addr_main,
  	addr_postal,
  	addr_road,
  	addr_detail,
  	addr_msg,
  	addr_receiver,
  	addr_phone,
  	addr_title,
  	member_no)
  	
  	values(
  	seq_address.nextval,
  	#{addr_main},   
  	#{addr_postal},
  	#{addr_road},
  	#{addr_detail},
  	#{addr_msg},	
  	#{addr_receiver},
  	#{addr_phone},
  	#{addr_title},  
  	#{member_no}
  	)
  	
  </insert> 
     
   <select id="findAddressInfoByNo" resultType="addressVO">
   	SELECT
		addr_receiver, addr_phone, addr_postal, addr_road, addr_detail, addr_msg
	FROM
		address
	WHERE
		no = #{addr_no}	
   </select>  
     
   <!-- <insert id="insert" parameterType="addressVO">
  	insert into address(
  	no,
  	addr_main,
  	addr_postal,
  	addr_road,
  	addr_detail,
  	addr_msg,
  	addr_receiver,
  	addr_phone,
  	addr_title,
  	member_no)
  	
  	values(
  	seq_comment.nextval,
  	#{addr_main},   
  	#{addr_postal},
  	#{addr_road},
  	#{addr_detail},
  	#{addr_msg},	
  	#{addr_receiver},
  	#{addr_phone},
  	#{addr_title},  
  	#{member_no}
  	)
  	
  </insert>    -->
     
     
  
  <update id="update" parameterType="addressVO">
   update address set 
   no=#{no},
   addr_main=#{addr_main},
   addr_postal=#{addr_postal},
   addr_road=#{addr_road},
   addr_detail=#{addr_detail},
   addr_msg=#{addr_msg},
   addr_receiver=#{addr_receiver},
   addr_phone=#{addr_phone},
   addr_title=#{addr_title},
   member_no=#{member_no}
   where no=#{no}
  </update>
  
  
   <update id="updatemainbtn" parameterType="addressVO">
   update address set addr_main=1 where no=#{no}  
  </update> 
  
  <update id="updatesubbtn" parameterType="addressVO">
   update address set addr_main=0 where no=#{no}  
  </update>
  
  <update id="updatebtn" parameterType="addressVO">
   update address set addr_main=0 where member_no = #{member_no}  
  </update>
    
  <delete id="delete">
  	delete address where no=#{no}
  </delete>
  
  
</mapper>