<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cerboard">

	<!-- 오늘 글쓴거 체크 -->
	<select id="checkTodayCer" resultType="int">
	select count(*) from certification_board where member_no=#{member_no}
	and to_char(cer_date,'yy/mm/dd') = TO_CHAR(SYSDATE, 'yy/mm/dd')
	</select>
	
	<select id="getTotalRecord" resultType="java.lang.Integer">
        select count(*) from certification_board
    </select>
	
	<!-- 인증게시판 리스트  -->
	<select id="findAll" resultType="cerboardVO">
	 select cer.no no,cer_status,cer_thumbnail,cer_content, cer_date , nickname ,levels, cer_hit, cer_like
		from certification_board cer, member m
		where m.no=cer.member_no  order by cer_date desc
		offset #{start} rows fetch first 10 rows only
	</select>
	
	<!-- My 인증게시판 리스트  -->
	<select id="findCerByMember" resultType="cerboardVO">
		select cer.no,cer_status,cer_thumbnail,cer_content, cer_date , nickname ,levels, cer_hit, cer_like
		from certification_board cer, member m
		where m.no=cer.member_no 
		and member_no=#{member_no}
		order by CER_DATE
	</select>
	
	
	<!-- 인증게시판 상세  -->
	<select id="getCerBoard" resultType="cerboardVO">
		select cer.no,cer_thumbnail,cer_content, cer_date , nickname,levels,cer_status,cer_hit, cer_like,chg_title1,chg_title2,chg_title3
		from certification_board cer, member m
		where m.no=cer.member_no and cer.no=#{cer_no}
		 
	</select>	
	
	   <!-- 인증게시판 수정-->
	  <update id="update" parameterType="cerboardVO">
	  	update certification_board set cer_status=#{cer_status},cer_content=#{cer_content},cer_thumbnail=#{cer_thumbnail} where no=#{no}
	  </update>
	  
	   <!-- 인증게시판 삭제-->
	  <delete id="delete">
	  	delete certification_board where no=#{no}
	  </delete>
	  
	   <!-- 인증게시판 조회수-->
	  <update id="updateHit">
	  	update certification_board set cer_hit=cer_hit+1 where no=#{no}
	  </update>	

		 
	<insert id="insert" parameterType="cerboardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
   		 select seq_cer.nextval FROM DUAL
  		</selectKey> 
	   	insert into certification_board values(
	   	#{no},
	   	#{cer_status},
	    #{cer_content},
	     sysdate,
	     0,
	     0,             
	    #{member_no},
	    #{chg_user_no},
	    #{cer_thumbnail},
	    #{chg_title1, jdbcType=VARCHAR},
	    #{chg_title2, jdbcType=VARCHAR},
	    #{chg_title3, jdbcType=VARCHAR}
	    )
	</insert> 

</mapper>