<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ecoMagazine">
   
    <select id="findEcoMagazineAll" resultType="EcoMagazineVO">
  		select * from ecoMagazine
  	</select>
  	
  	<select id="findEcoMagazineByNo" resultType="EcoMagazineVO">
  		select * from ecomagazine where no=#{no}
  	</select>
  	
  	<select id="findEcoMagazineLike" resultType="integer">
  		select eco_like from ecoMagazine where no=#{no}
  	</select>
  
 	 <update id="updateEcoMagazineHit">
  		update ecomagazine set eco_hit=eco_hit+1 where no=#{no}
  	</update>
  	
	<update id="updateEcoMagazineLike">
  		update ecomagazine set eco_like=eco_like+1 where no=#{no}
  	</update>


</mapper>