<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="challenge">


  <!-- 오늘의챌린지 목록 -->
  <select id="findAll" resultType="challengelistVO">
		select distinct chg_title from challenge_list l,challenge c ,img i where l.chg_no=c.no and
		i.chg_no = c.no and to_char(sysdate,'yy/dd/mm')
  </select>
  


</mapper>