<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orders">
	<select id="getCntOfToday" resultType="Integer">
		SELECT
		count(*) cnt
		FROM
		orders
		WHERE
		TO_CHAR(ord_date, 'yy/mm/dd') = TO_CHAR(sysdate, 'yy/mm/dd')
	</select>
	<insert id="insertOrders" parameterType="ordersVO">
		INSERT INTO orders(
			no, ord_id, ord_date, ord_use_point, ord_price, payment_code,
			ord_status_code, apply_num,imp_uid
			<if test="address_no != 0">
				, address_no
			</if>			
			<if test="receiver_no != 0">
				, receiver_no
			</if>			
			<if test="member_no != null and member_no != ''">
				, member_no
			</if>			
		) 
		VALUES (
			seq_orders.nextval,
			#{ord_id},
			sysdate,
			#{ord_use_point},
			#{ord_price},
			#{payment_code},
			#{ord_status_code},
			#{apply_num},
			#{imp_uid}
			<if test="address_no != 0">
				, #{address_no}
			</if>			
			<if test="receiver_no != 0">
				, #{receiver_no}
			</if>			
			<if test="member_no != null and member_no != ''">
				, #{member_no}
			</if>
		)
	</insert>
	  <select id="getTotalPay" resultType="Integer">
    SELECT cart_saleprice
  	 <if test="pro_add_option_no != 0 and pro_add_option_no != null">
  	 	+ p.pro_add_price 
  	</if> 
  	 FROM cart 
  	 <if test="pro_add_option_no != 0 and pro_add_option_no != null">
  	 	,(SELECT pro_add_price FROM pro_add_option where no=#{pro_add_option_no}) p 
  	</if>
  	 WHERE member_no=#{member_no} and no=#{cart_no}
  </select>
  <select id="billOfOrder" resultType="orderBillVO">
  	SELECT
	 ord_id, ord_price, apply_num 
		 , a.addr_postal as addr_postal, a.addr_road as addr_road, a.addr_detail as addr_detail, a.addr_phone as addr_phone
	FROM
	 orders o
	 <if test="addr_no != null and addr_no != 0">
		 , (SELECT
		 no, addr_postal, addr_road, addr_detail,addr_phone
		FROM
		 address) a
	 </if>
	 <if test="receiver_no != null and receiver_no != 0">
	  , (SELECT
		 no, receiver_postal as addr_postal
		 , receiver_addr as addr_road, 
		 receiver_detail as addr_detail,
		 receiver_phone as addr_phone
		FROM
		 receiver) a
	 </if>
	WHERE
	ord_id= #{ord_id}
	<if test="addr_no != 0">
		and
		a.no = o.address_no
		and
		o.address_no = #{addr_no}
	</if>
	 <if test="receiver_no != 0">
		and
		a.no = o.receiver_no
		and
		o.receiver_no = #{receiver_no}
	</if>
  </select>
  <select id="receiverInfoByOrdId">
  	SELECT
	receiver_no, address_no, ord_price, ord_use_point,
	(
		SELECT sum(ord_pro_price * ord_pro_qty)
	FROM
	orders_product op
	WHERE
	ord.no = op.ord_no) as ord_price
	FROM
	orders ord
	WHERE
	ord_id = #{ord_id}
  </select>
</mapper>