<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

 <!-- 상품 home-->	
  <select id="findAll_home" resultType="productVO">
     select no ,pro_name, pro_brand, pro_price, pro_saleprice, PRO_THUMBNAIL
	 from product p
  </select>
 
  <!-- 상품 admin-->	
  <select id="findAll" resultType="productVO">
     select no ,pro_name, pro_brand, pro_price, pro_saleprice, pro_stock, c.cat_name cat_name, PRO_THUMBNAIL
	from product p, category c
	where c.cat_code = p.cat_code
  </select>
  
   <insert id="insert" parameterType="productVO">
  	insert into product values(seq_product.nextval, #{pro_name}, #{pro_brand}, #{pro_price}, #{pro_saleprice}, #{pro_stock}, #{pro_delivery}, sysdate, 0, #{pro_content}, #{cat_code}, #{PRO_THUMBNAIL})
  </insert>
  
  <select id="findByNo" resultType="productVO">
  	select * from product where no=#{no}
  </select>
  
  <update id="update" parameterType="productVO">
  	update product set pro_name=#{pro_name},pro_brand=#{pro_brand},pro_price=#{pro_price},pro_saleprice=#{pro_saleprice},pro_stock=#{pro_stock},pro_content=#{pro_content},where no=#{no}
  </update>
  
  <delete id="delete">
  	delete product where no=#{no}
  </delete>
  
  <update id="updateHit">
  	update product set pro_hit=pro_hit+1 where no=#{no}
  </update>
  
</mapper>