<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
  <select id="findAll" resultType="QnaVO">  <!-- 내 qna 리스트 -->
  	SELECT
	<!-- img_name img_name, -->  <!-- 일단 보류 이미지 파일 완성되면 갑니다.  -->
	pq.no no,
	pro_name pro_name,
	pro_qna_title title,
	pro_qna_type_name qna_type,
	pro_qna_date day,
	qna_type_name status
	FROM
	<!-- img i, -->		
	product pro,    <!-- 우선 img i 뺌  -->
	pro_qna pq,
	pro_qna_type tc, 
	qna_status qs,
	member m
	WHERE
	pro.no=pq.pro_no
	<!-- pro.no = i.pro_no  -->
	<!-- and pro.no = pq.pro_no -->     <!-- 임시 pro_no -->
	and pq.pro_qna_type_code = tc.pro_qna_type_code
	and qs.qna_status_code = pq.qna_Status_code 
	and m.no= pq.member_no
	 <!-- and m.name=#{nickname}  -->  <!-- 이름 중복가능성 -->
	 and member_no=#{member_no} 
	<if test="searchColumn != null">
    and pq.pro_qna_type_code='${searchColumn}'
   </if>
	  
  </select>
  
  
  
  
  
  <select id="findAllList" resultType="QnaVO">
  select 
  q.no no,
  pro_name pro_name,
  pro_qna_type_name qna_type,
  pro_qna_title title,
  nickname nickname,
  pro_qna_date day ,
  qna_type_name status
  from pro_qna q, pro_qna_type t,
  qna_status s,product p,member m
  where q.pro_qna_type_code = t.pro_qna_type_code 
  and q.qna_status_code = s.qna_status_code
  and p.no=q.pro_no
  and m.no=q.member_no
  
  </select>
  
  <select id="findAllDetail" resultType="QnaVO">
  select q.no no,
  pro_name pro_name,
  pro_qna_type_name qna_type,
  pro_qna_title title,
  nickname nickname,
  pro_qna_date day,
  qna_type_name status,
  pro_qna_content content,
  p.no pro_no
  from pro_qna q, pro_qna_type t,
  qna_status s,product p,member m
  where q.pro_qna_type_code = t.pro_qna_type_code 
  and q.qna_status_code = s.qna_status_code
  and p.no=q.pro_no
  and m.no=q.member_no
  and q.no=#{no}  
  
  </select>
  
  <select id="findAllSearch" resultType="QnaVO">
  <!--  {start=1, end=5, searchColumn=QDE, qnaColumn=null, keyword=색상} -->
  select p.no no,
  pro_name,
  pro_qna_type_name qna_type,
  pro_qna_title title,
  pro_qna_content content,
  name nickname,
	pro_qna_date day,
	qna_type_name status 
	from
	(select rownum num,q.no,pro_name,pro_qna_type_name,pro_qna_title,pro_qna_content,name,
	pro_qna_date,qna_type_name from pro_qna q, pro_qna_type t,
	qna_status s,product p,member m
	where q.pro_qna_type_code = t.pro_qna_type_code 
	and q.qna_status_code = s.qna_status_code
	and p.no=q.pro_no
	and m.no=q.member_no 
   <if test="keyword != null">
    and q.pro_qna_type_code='${searchColumn}'
   </if>
	) p
	<if test="keyword != null">
     where pro_qna_content like '%'  || #{keyword} || '%'  OR
	pro_qna_title like '%'  || #{keyword} || '%' 
   </if>
	
  
  
  </select>
  
  <select id="totalRecord" resultType="java.lang.Integer">
  	select count(*) from pro_qna
  	<if test="keyword != null">
			where pro_qna_content like '%'||#{keyword}||'%' or   <!--선택   pro_qna_content search(키워드) column이 콤보박스-->
			pro_qna_title like '%'  || #{keyword} || '%'
	</if>
		   
  </select>
  
  
  
  
</mapper>