<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="receiver">
  <select id="findByNo" resultType="addressVO">
  	SELECT
	receiver_name AS addr_receiver, 
	receiver_phone AS addr_phone, 
	receiver_postal AS addr_postal, 
	receiver_addr AS addr_road, 
	receiver_detail AS addr_detail, 
	receiver_msg AS addr_msg
	FROM
	receiver
	WHERE
	no = #{receiver_no}
  </select>
  <insert id="insertReceiver" parameterType="addressVO">
  	insert into receiver values(seq_receiver.nextval, #{receiver_name}, #{receiver_phone}, #{receiver_postal}, #{receiver_addr}, #{receiver_detail}, #{receiver_msg})
  </insert>
  <select id="maxOfNo" resultType="Integer">
  	select max(no) AS receiver_no from receiver
  </select>
</mapper>