<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishList">
	<insert id="insert" parameterType="wishListVO">
		insert into wishList(no, pro_no, member_no
		<if test="pro_add_option_no != ''">
			, pro_add_option_no
		</if>
		) 
		values(seq_wishlist.nextval, #{pro_no}, #{member_no}
		<if test="pro_add_option_no != ''">
			,#{pro_add_option_no}
		</if>
		)
	</insert>
	<select id="findByMember" resultType="wishListVO">
		select 
        w.no as no,
        pao.no as pro_add_option_no, 
		nvl(pro_add_price, 0) as pro_add_price, 
		w.pro_no as pro_no, 
		(select pro_option_name from pro_option where pro_option_code = pao.pro_option_code) as pro_option,
		(select pro_option_detail_name from pro_option_detail where pro_option_detail_code = pao.pro_option_detail_code) as option_detail,
		pro_thumbnail, 
		pro_name, 
		pro_price as price,
		pro_saleprice as saleprice,
		pro_brand,
		(SELECT count(*) FROM wishlist WHERE pro_no =p.no) cnt,
		 w.pro_add_option_no AS pro_add_option_no
		from pro_add_option pao, product p, wishlist w
		where
		p.no = pao.pro_no(+)
		and w.pro_no = p.no
		and w.pro_no  = pao.pro_no(+)
		and w.pro_add_option_no = pao.no(+)
		and member_no = #{member_no}
	</select>
	<select id="cntOfWishList" resultType="Integer">
		select nvl( count(*), 0) as cnt from wishlist where member_no = #{member_no}
	</select>
	<select id="isWishList" resultType="Integer">
		select count(*) cnt from wishlist where member_no=#{member_no} and pro_no=#{pro_no}
		<if test="pro_add_option_no != ''">
			and pro_add_option_no = (select no from pro_add_option 
			where pro_no=#{pro_no} and pro_option_code= (SELECT pro_option_code from pro_option WHERE pro_option_name = #{pro_option_name}),
			and pro_option_detail_code=(SELECT pro_option_detail_code from pro_option_detail WHERE pro_option_detail_name=#{pro_option_detail_name}))
		</if>
	</select>
	<delete id="deleteWishList" parameterType="Integer">
		delete wishlist where no=#{no}
	</delete>
</mapper>