@charset "UTF-8";

.product_table{
	width: 100%;
	margin: 20px 0;
}

.product_table th{
	font-weight: bold;
}

.product_table img{
	width: 200px;
	height: 200px;
}

.product_table tbody tr{
	text-align: center;
}
.mypage{
	display: flex;
	flex-wrap: wrap;
}
#paging{
	text-align: center;
}